@font-face {
  font-family: OsakaMono;
  src: url("/fonts/subset-Osaka-Mono.woff2");
  font-weight: 400;
}

body {
  font-family: OsakaMono, monospace;
}

@layer base {
  body {
    font-family: OsakaMono, system-ui, sans-serif;
  }
}

.example-no-nav nav {
  display: none;
  z-index: -999;
}
